In [0]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import requests
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [0]:
enter = 1
cols = {}
df.drop(df.index, inplace=True)
while( enter ==1 ):
    print(" Enter release year to get movies : \n")
    year = int(input())
    response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' + str(your api key) + '&primary_release_year=' + str(year) + '&sort_by=revenue.desc')
    responded = response.json()
    resp = responded['results']
    title =[]
    for i in resp:
        title.append(i['title'])
    cols['Title - ' + str(year)] = title
    
    print("Do you want to continue for some other year: \n")
    print("Enter 1 for YES\n")
    print("Enter 0 for No\n")
    enter = int(input())
df = pd.DataFrame(cols)
enter2 = 1
upcoming_list = []
top_rated = []
while( enter2 ==1 ):
    
    print("For Upcoming Movies Enter 1\n")
    print("For Top Rated Movies Enter 2\n")
    
    choice2 = int(input())
    
    if(choice2 == 1):
        response = requests.get('http://api.themoviedb.org/3/movie/upcoming?api_key=' + str(your api key))
        upcomings = response.json()
        movie_list = upcomings['results']
        for movie in movie_list:
            upcoming_list.append(movie['title'])
    print("Enter 0 if you want to exit : \n")
    enter2 = int(input())
df['Upcoming Movies'] = upcoming_list
df

 Enter release year to get movies :

2014
Do you want to continue for some other year:

Enter 1 for YES

Enter 0 for No

0
For Upcoming Movies Enter 1

For Top Rated Movies Enter 2

1
Enter 0 if you want to exit :

0

,Title - 2014,Upcoming Movies
0,Transformers: Age of Extinction,Bloodshot
1,The Hobbit: The Battle of the Five Armies,Onward
2,Guardians of the Galaxy,Trolls World Tour
3,Maleficent,Just Mercy
4,The Hunger Games: Mockingjay - Part 1,Digimon Adventure: Last Evolution Kizuna
5,X-Men: Days of Future Past,The Hunt
6,Captain America: The Winter Soldier,My Spy
7,Dawn of the Planet of the Apes,The Turning
8,The Amazing Spider-Man 2,The Way Back
9,Interstellar,I Still Believe
10,Big Hero 6,Guns Akimbo
11,How to Train Your Dragon 2,Logan
12,American Sniper,The Informer
13,Godzilla,Dark Waters
14,Rio 2,A Beautiful Day in the Neighborhood
15,Teenage Mutant Ninja Turtles,Love The Way You Are
16,The Lego Movie,Memories of Murder
17,Kingsman: The Secret Service,Mortal Kombat Legends: Scorpionâ€™s Revenge
18,Penguins of Madagascar,#Iamhere
19,Edge of Tomorrow,Harriet

In [0]:
import urllib.request
from PIL import Image

In [0]:
url = 'https://image.tmdb.org/t/p/w185/or06FN3Dka5tukK1e9sl16pB3iy.jpg'

In [0]:
img = Image.open(urllib.request.urlopen(url))

In [0]:
print(img)

<PIL.JpegImagePlugin.JpegImageFile image mode=RGB size=185x278 at 0x7F6334E1EE48>

In [0]:
img.height

278

In [0]:
img.width

185